@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap);

* {
  padding: 0px;
  margin: 0px;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

:root {
  --fs-14: 14px;
  --fs-16: 16px;
  --fs-18: 18px;
  --fs-20: 20px;
  --fs-24: 24px;
  --fs-32: 32px;
  --fs-40: 40px;
  --primary-color: #FFFFFF;
  --secondary-color: #252525;
  /* --tertiary-color: #FB6818;
  --primary-bg-color: #FB6818; */
  --tertiary-color: #adc224;
  --primary-bg-color: #adc224;
  --secondary-bg-color: #FFFFFF;
  --tertiary-bg-color: #252525;
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
}

/* Primary btn */
.primary-btn {
  font-size: var(--fs-18);
  color: var(--primary-color);
  background-color: var(--primary-bg-color);
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: var(--fw-500);
  transition-duration: 0.7s;
}

.primary-btn:hover {
  color: var(--secondary-color);
  background-color: var(--secondary-bg-color);
}

/* Secondary btn */
.secondary-btn {
  font-size: var(--fs-18);
  color: var(--secondary-color);
  background-color: var(--secondary-bg-color);
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: var(--fw-500);
  transition-duration: 0.7s;
}

.secondary-btn:hover {
  color: var(--primary-color);
  background-color: var(--tertiary-bg-color);
}

.heading-underline {
  height: 10px;
  width: 60%;
  background-color: var(--secondary-bg-color);
  border-radius: 20px;
}



/* Header */
header {
  height: 600px;
  background-color: rgb(0, 0, 0, 0.3);
  background-image: url('../images/home/banner-img.png');
  background-blend-mode: overlay;
  margin-bottom: 100px;
}

header nav {
  height: 15%;
  /* background-color: olivedrab; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20%;
}

header nav #btn,
header nav label{
  display: none;
}

header nav h1 a {
  font-size: var(--fs-40);
  color: var(--primary-color);
  text-decoration: none;
}

header nav ul {
  display: flex;
  gap: 30px;
  list-style-type: none;
}

header nav ul li a {
  font-size: var(--fs-18);
  text-decoration: none;
  color: var(--primary-color);
}


/* Footer */
footer {
  height: auto;
  background-color: var(--tertiary-bg-color);
  padding: 0px 20% 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer .wrapper {
  height: 100%;
  width: 100%;
  /* background-color: darkgray; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

footer .wrapper .info-container {
  /* height: 60%; */
  /* background-color: darkcyan; */
  display: flex;
  padding: 80px 0px;
}

footer .wrapper .info-container .link-container {
  height: 100%;
  width: 25%;
  /* background-color: darkgoldenrod; */
  display: flex;
  flex-direction: column;
  gap: 20px;
}

footer .wrapper .info-container .link-container h1 {
  font-size: var(--fs-24);
  font-weight: var(--fw-600);
  color: var(--primary-color);
}

footer .wrapper .info-container .link-container ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

footer .wrapper .info-container .link-container ul li a {
  text-decoration: none;
  color: var(--primary-color);
  font-size: var(--fs-14);
  opacity: 0.75;
}

footer .wrapper .info-container .link-container p {
  color: var(--primary-color);
  font-size: var(--fs-14);
  width: 80%;
  opacity: 0.75;
}

footer .wrapper .info-container .link-container ul li.icon-box-container {
  display: flex;
  justify-content: start;
  align-items: center;
}

footer .wrapper .info-container .link-container ul li.icon-box-container .icon-box {
  height: 20px;
  width: 20px;
  /* background-color: darkblue; */
  display: flex;
  justify-content: start;
  align-items: center;
}

footer .wrapper .info-container .link-container ul li i {
  color: var(--primary-color);
  font-size: var(--fs-14);
  opacity: 0.75;
}

footer .wrapper .copyrights-container {
  height: 10%;
  /* background-color: darkolivegreen; */
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .wrapper .copyrights-container p {
  font-size: var(--fs-14);
  color: var(--primary-color);
  opacity: 0.75;
}

footer .wrapper .copyrights-container p a {
  color: var(--primary-color);
  opacity: 0.75;
}






/* Media query */
@media only screen and (max-width:600px) {
  :root {
    --fs-14: 12px;
    --fs-16: 14px;
    --fs-18: 16px;
    --fs-20: 18px;
    --fs-24: 22px;
    --fs-32: 28px;
    --fs-40: 32px;
  }

  header {
    height: auto;
    padding: 0px 0px 30px 0px;
    display: flex;
    flex-direction: column;
    gap:20px;
    margin-bottom:50px;
  }
  header nav {
    height: 70px;
    background-color: var(--tertiary-bg-color);
    padding: 0px 5%;
  }
  header nav label{
    display: block;
    font-size: var(--fs-32);
    color: var(--primary-color);
    order:3;
  }
  header nav ul {
    position: absolute;
    flex-direction: column;
    background-color: var(--primary-bg-color);
    top:70px;
    width: 100%;
    left:-100%;
    padding: 20px 0px;
    transition-duration: 0.7s;
  }
  header nav ul li{
    padding: 0px 5%;
  }
  header nav #btn:checked ~ ul{
    left: 0px;
    /* background-color: red; */
  }



  /* Footer */
  footer{
    padding: 0px 5% 40px;
  }
  footer .wrapper .info-container {
    padding: 40px 0px;
    flex-direction: column;
    gap:15px;
  }
  footer .wrapper .info-container .link-container {
    gap:10px;
    width: 100%;
  }
  footer .wrapper .info-container .link-container ul {
    gap:5px;
  }
  footer .wrapper .copyrights-container p {
    text-align: center;
  }
}